@using BartMarket.Template;

<script>

        function getget(){

        var msg = document.getElementById("ostatok");
        msg.value = 'true';
    }
     function setset(){

        var msg = document.getElementById("ostatok");
        msg.value = 'false';
    }
   // document.getElementById("btn1").addEventListener("click", getget);

</script>
<div>
 
    <br/>

    <label>Выберите шаблон из списка предложенных:</label>
    <br />

    <br />
    <br />
    @{
       
        foreach (var item in (List<IBaseOzonTemplate>)ViewData["Templates"])
        {
             

                <label>@item.Name</label>
                <form method="post" action="excel">
                <input id="temp" hidden="hidden" name="temp" value="@item.Name" />
                
                @if(ViewData["stage"]?.ToString() == "go")
                {

                    <input id="step" hidden="hidden" name="step" value="go" />

                    <input type="submit" disabled="disabled" value="Подготовить" />
                }
                else
                {
                    <input id="step" hidden="hidden" name="step" value="ready" />

                    <input type="submit" value="Подготовить" />
                }

               

                </form>
                <form method="post" action="excel">

                <input id="temp" hidden="hidden" name="temp" value="@item.Name"/>
                <br/>

                <input id="step" hidden="hidden" name="step" value="go" />

                <label>Кол-во необхходимых записей на выходе:</label>
                <input id ="count" name="count" value="1" />
                @if (ViewData["stage"]?.ToString() != "go")
                {
                    <input type="submit" disabled="disabled" value="Заполнить" />

                }
                else
                {
                    <input type="submit" onclick="setset()" value="Заполнить" />
                }

                @if (ViewData["stage"]?.ToString() != "go")
                {

                    <input type="submit" disabled="disabled" value="Заполнить" />

                }
                else
                {
                    <input id="ostatok" hidden="hidden" name="ostatok" value="false" />

                                    <input type="submit" onclick="getget()" value="Заполнить с остатком" />
                }

                

            </form>
                      


            @if (ViewData["TempReady"] != null)
            {            
                            <label>@item.Name ГОТОВ</label>
                <a href="@ViewData["TempReady"]" download="@ViewData["TempReady"].ToString().Split("/").Last()">Скачать</a>
            }
            @if (ViewData["Error"] != null)
            {
                <label>@ViewData["Error"]</label>
            }
            <br />
            <br />
        }
    }
</div>