@using BartMarket.Template;
<div>
    <br/>
    <br />
    <br />

    <form method="post" action="excel">
        <label>Очистить память</label>

        <input id="reset" hidden="hidden" name="reset" value="true" />

        <input type="submit" value="Очистить" />

    </form>
    <br />
    <br/>
    <label>Выберите шаблон из списка предложенных:</label>

    <br />
    @{
       
        foreach (var item in (List<IBaseOzonTemplate>)ViewData["Templates"])
        {
             

                <label>@item.Name</label>
                <form method="post" action="excel">
                <input id="temp" hidden="hidden" name="temp" value="@item.Name" />
                
                @if(ViewData["stage"]?.ToString() == "go")
                {

                    <input id="step" hidden="hidden" name="step" value="go" />

                    <input type="submit" disabled="disabled" value="Подготовить" />
                }
                else
                {
                    <input id="step" hidden="hidden" name="step" value="ready" />

                    <input type="submit" value="Подготовить" />
                }

               

                </form>
                <form method="post" action="excel">

                <input id="temp" hidden="hidden" name="temp" value="@item.Name"/>
                <br/>

                <input id="step" hidden="hidden" name="step" value="go" />

                <label>Кол-во необхходимых записей на выходе:</label>
                <input id ="count" name="count" value="1" />
                @if(ViewData["stage"]?.ToString() != "go"){
                <input type="submit" disabled="disabled" value="Заполнить" />

                }else{                <input type="submit" value="Заполнить" />
                }

                

            </form>
                      


            @if (ViewData["TempReady"] != null)
            {            
                            <label>@item.Name ГОТОВ</label>
                <a href="@ViewData["TempReady"]" download="@ViewData["TempReady"].ToString().Split("/").Last()">Скачать</a>
            }
            @if (ViewData["Error"] != null)
            {
                <label>@ViewData["Error"]</label>
            }
            <br />
            <br />
        }
    }
</div>