@{
    Layout = "/Views/_Layout.cshtml";
}
<style>
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
</style>
<div align="left">
    <label style="font-size:medium"><b>Лайт фид:</b></label>
    <br />
    <br />

    <form method="post" action="savelink">
        <label>http://ovz1.j34469996.pxlzp.vps.myjino.ru</label><input size="40" name="link_lite" value="@ViewData["URL1"]" /> <br/>
        <button type="submit">Сохранить ссылку</button>
    </form>
    <br />
    <br />
    <a href="@ViewData["URL1F"]">Просмотреть фид</a>
        <br />
    <br />

    <br />
    <a href="@ViewData["URL1"]" download="@ViewData["URL1"].ToString().Split("/").Last()">Скачать фид</a>
        <br />
    <br />
    <div align="right">
        @if((bool)ViewData["AIR"] == true){
            <label style="color:red">Сейчас идет обработка...</label>
            <br/>
            <br />
        }
        <label>Дата последней обработки: @ViewData["DATE"]</label>
        <br/>
        <label>Затрачено времени на лайт версию: @ViewData["TIMELITE"]</label>
                <br/>

        <label>Затрачено времени на полную версию: @ViewData["TIMEFULL"]</label>
                <br/>

        <label>Успех: @ViewData["SUCCESS2"]</label>
                <br/>

        @if (ViewData["SUCCESS2"] != null && (bool)ViewData["SUCCESS2"] == false)
        {
            <label>Ошибка: @ViewData["ERROR"]</label>

        }
        <br />

        <label>Всего офферов обработано: @ViewData["COUNT"]</label>

    </div>

    <hr />
    <br />
    <br />
    
    <label style="font-size:medium"><b>Полный фид:</b></label>
    <br />
    <br />

    <form method="post" action="savelink">
        <label>http://ovz1.j34469996.pxlzp.vps.myjino.ru</label><input size="40" name="link_full" value="@ViewData["URL2"]" /> <br/>
        <button type="submit">Сохранить ссылку</button>
    </form>
    <br />
    <br />
    <a href="@ViewData["URL2F"]">Просмотреть фид</a>
        <br />
    <br />

    <a href="https://partners.donplafon.ru/local/partners/BARTMARKET_CSV_PRICES/" download="https://partners.donplafon.ru/local/partners/BARTMARKET_CSV_PRICES/">https://partners.donplafon.ru/local/partners/BARTMARKET_CSV_PRICES/</a>
     <br />
    <a href="@ViewData["URL00"]">СКАЧАТЬ CSV</a>
    <br />
    <a href="https://partners.donplafon.ru/local/partners/BARTMARKET_CSV_CONTENT/" download="https://partners.donplafon.ru/local/partners/BARTMARKET_CSV_CONTENT/">https://partners.donplafon.ru/local/partners/BARTMARKET_CSV_CONTENT/</a>
    <br />
    <a href="@ViewData["URL11"]">СКАЧАТЬ CSV</a>
    <br/>
    <a href="@ViewData["URL2"]" download="@ViewData["URL2"].ToString().Split("/").Last()">Скачать фид</a>
    <br />
    <br />
    <div align="right">
        @Html.ActionLink("Редактор складов", "index","warehouses")

    </div>

    <hr />
    <br />
    <br />
    <label style="font-size:medium"><b>Ссылка для копирования первого онлайн фида :</b></label>
    <br />
    <br />

    <a href="@ViewData["URL3"]">@ViewData["URL3"]</a>

    <br />
    <br />

    <label style="font-size:medium"><b>Ссылка для скачивания первыого онлайн фида:</b></label>
    <br />
    <a href="~/content/exmp2.xml" download="exmp2.xml">Скачать</a>
    <br />
    <br />

    <hr />
    <br />
    <br />
    <label style="font-size:medium"><b>Ссылка для копирования второго онлайн фида :</b></label>
    <br />
    <br />

    <a href="@ViewData["URL4"]">@ViewData["URL4"]</a>
    <br />
    <br />

    <label style="font-size:medium"><b>Ссылка для скачивания второго онлайн фида:</b></label>
    <br />
    <a href="~/content/exmp3.xml" download="exmp3.xml">Скачать</a>
    <br />
    <br />

    <hr />

    @if (ViewData["SUCCESS"] != null)
    {
        <script>alert("Формулы успешно сохранены");</script>
    }
    <form method="post" action="Donplafon_Ozon">

        <input type="text" size="42" id="formula" name="formula" value="@ViewData["FORMULA"]" />
        <br />
        <button type="submit">Сохранить формулы</button>


    </form>
    <br/>
    <form method="post" action="/donplafon_ozon/UpdateOffer">

        <input type="text" size="42" id="offer" name="offer" value="@ViewData["OFFER"]" />
        <br />
        <button type="submit">Сохранить offer</button>


    </form>

</div>

